<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="img/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Carousel</title>
</head>
<body>
    
    <header>
        <nav class="nav">
          <button id="toggle-sidebar" class="icon-btn">
            <i
              class="fa-solid fa-bars fa-beat"
              style="
                font-size: 20px;
                border: none;
                background-color: transparent !important;
              "
            ></i>
          </button>
          <li>
            <a href="https://github.com/Ferdlcz"
              ><img src="../../img/logoh.png" alt="logo"
            /></a>
          </li>
          <li>DEVLIANCE</li>
        </nav>
  
        <nav class="sidebar">
          <ul>
            <li>Componentes</li>
            <hr style="margin-bottom: 10px" />
            <li><a href="../Alerts/alerts.html">Alertas</a></li>
            <li><a href="../Badges/badges.html">Badges</a></li>
            <li><a href="../BreadCrumbs/breadcrumbs.html">Breadcrumbs</a></li>
            <li><a href="../Botones/botones.html">Botones</a></li>
            <li><a href="../Cards/cards.html">Cards</a></li>
            <li><a href="#">Carousel</a></li>
            <li><a href="../Formularios/formularios.html">Formularios</a></li>
            <li><a href="../Inputs/inputs.html">Inputs</a></li>
            <li><a href="../NavBar/navbar.html">Navbar</a></li>
            <li>Animaciones</li>
          <hr style="margin-bottom: 10px" />
          <li><a href="#">Textos animados</a></li>
          <li><a href="#">Imagenes animadas</a></li>
          <li><a href="#">Transiciones</a></li>
          <li><a href="#">Fondos animados</a></li>
          <li><a href="#">Botones interactivos</a></li>
          <li><a href="#">Particulas</a></li>
          <li>CSS</li>
          <hr style="margin-bottom: 10px" />
          <li><a href="#">Introduccion a css</a></li>
          <li><a href="#">Sintaxis basica</a></li>
          <li><a href="#">Propiedades de estilo basicas</a></li>
          <li><a href="#">Diseño de caja</a></li>
          <li><a href="#">Posicionamiento</a></li>
          <li><a href="#">Grid</a></li>
          <li><a href="#">Flexbox</a></li>
          <li><a href="#">Diseño responsivo</a></li>
          <li>JavaScript</li>
          <hr style="margin-bottom: 10px" />
          <li><a href="#">Introduccion a JavaScript</a></li>
          <li><a href="#">Variables y tipos de datos</a></li>
          <li><a href="#">Operadores y expresiones</a></li>
          <li><a href="#">Estructuras de control</a></li>
          <li><a href="#">Arrays</a></li>
          <li><a href="#">Objetos</a></li>
          <li><a href="#">Funciones</a></li>
          <li><a href="#">DOM</a></li>
          <li><a href="#">Eventos</a></li>
          </ul>
        </nav>
      </header>
    
      <div class="main">
        <center><img src="../../img/enconstruccion.png" alt="Construction Image" class="construction-image">
        <h1>¡Página en construcción!</h1>
        <p>Estamos trabajando en mejorar nuestra página web. Pronto estará disponible.</p>
        <p>Vuelve pronto para descubrir nuestras novedades.</p></center>
  
      </div>


    <div id="footer" class="divfooter">
        <footer >
            <p>&copy; 2023 Devliance. Todos los derechos reservados.</p>
            <p>Email: <a href="mailto:ferdlcskate@gmail.com">ferdlcskate@gmail.com</a></p>
          </footer>

    </div>
</body>
</html>